<div class="row justify-content-center ml-5">
<div class="col-sm-12 col-xl-6 col-md-12">
    <div class="card">
    <div class="card-body">
<h1 class="card-header text-center mb-3" >Nuevo cine</h1>

<%= render "form", cine: @cine %>

<%= link_to "Back", cines_path, class: "btn btn-outline-dark  " %>
</div>
</div>
</div>
</div>